# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
.vscode/
*.vspscc
*.vssscc
.builds
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.*proj.user
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User-specific config files
CS2Injector.ini
CS2Injector.log

# DLLs to inject (keep example only)
/payload.dll
*.bin

# Other
.DS_Store
Thumbs.db 